@import "../variables/variables.scss";
.frame {
  max-width: 1240px;
  margin: 0 auto;
  margin-top: 40px;

  @include xl {
    margin-right: 20px;
    margin-left: 20px;
  }

  @include md-lg {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
