@import "../variables/variables.scss";

.host {
  color: $clr-red;
  font-family: $font;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  @include md-lg {
    margin-top: 0;
  }

  &__name p {
    font-size: 18px;
    line-height: 142.6%;
    font-weight: 500;
    margin: 0;
    margin-right: 10px;
    text-align: end;

    @include sm {
      font-size: 12px;
      margin-right: 10.5px;
    }
  }

  &__picture img {
    background: #c4c4c4;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    @include sm {
      width: 32px;
      height: 32px;
    }
  }
}
